<div class="footer">
  <a href="https://github.com/Bevilacqua/StudySpotRoulette">Open Source</a> (<a href="https://github.com/Bevilacqua/StudySpotRoulette/blob/master/LICENSE">LICENSE</a>)
  <a href="https://study.space"><img height="42px" width="26px" class="fa-2x"src="https://s3-us-west-1.amazonaws.com/studyspaceimages/Logo/pin_logo.png" alt="Pin logo"></a> &nbsp;
  <a style="color: black !important;" href="https://www.facebook.com/findastudyspace"><i class="fa fa-facebook-official fa-2x light_marg_sides" aria-hidden="true"></i></a>
  <a style="color: black !important;" href="https://twitter.com/findastudyspace"><i class="fa fa-twitter-square fa-2x light_marg_sides" aria-hidden="true"></i></a>
  <a style="color: black !important;" href="https://www.instagram.com/findastudyspace/"><i class="fa fa-instagram fa-2x light_marg_sides" aria-hidden="true"></i></a>
</div>
