<head>
<title>Study Space Roulette</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="static/jquery.slotmachine.min.js"></script>
  <script src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/jquery.slotmachine.min.css" />
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/main.css" />
  <link rel="shortcut icon" href="/static/favicon.ico">
  <meta property="og:title" content="Study Space Roulette" />
  <meta property="og:description" content="Stop procrastinating... Find a place to study!" />
  <meta property="og:site_name" content="Study Space" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://spaceto.study" />

  <meta property="og:image" content="https://s3-us-west-1.amazonaws.com/studyspaceimages/Site/finals.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="940" />
  <meta property="og:image:height" content="788" />
</head>
